    <div class="row">
        <div class="col-sm-3 mb-3 mb-sm-0 mt-4">
            <div class="card">
                <div class="card-body">
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTs9zlep8Xy1P6A2KJ6QDpAYUE0_Z3RhuLHTsrYOGlBolCsZ6WOEne3uCpiVUX9ZGwY8PJxLIdhG-rLQUeDxN8RKyyYbByqxm7s4GKgUK7mrMOKH_4Jon78&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">
                    CHIST Gaming PC (Core i7-4790 Processor /1TB SSD/GT 730 4GB DDR5 Graphic Card /24 ...
                    
                </h5>
                <p class="card-text">Solid State Drive</p>
                <p>
                    ₹1,04,404.33
                </p>
                <a href="buy" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    <div class="col-sm-3 mt-4">
            <div class="card">
                <div class="card-body">
                <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQbBm83Bbo9hIEUF4nukULvNJ8OlRN06RoqG95gxRuO1gUbs_JBeq3KSbJc-Qm3L86r3uWXL8sur6VzBaSBEG1GyM1dWzywfBpbEUTchQo&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">
                    Computer and Hardware Montage
                    
                </h5>
                <p class="card-text">Wired · QWERTY · PC</p>
                <p>₹420.39</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    <div class="col-sm-3 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR2AOtvqR8CPmXKpTZzfbOfTgtNM1peRgXtMMdJWkSYnPrv3IM0JRX1thqaFiY5kQKXD6bESXz8HDwvRU9Cn8U-UwfNEIpsAR19NYWqSvjmNEeUynkqwFRIBw&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">
                    ZEBRONICS Phantom Mid-Tower Premium Gaming Cabinet like Helicopter
                    
                </h5>
                <p class="card-text">For Gaming</p>
                <p>
                    ₹10,618.82₹10,618.82.
                    
                </p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTrndny98UeQKewZ41S8xHqrB_RkJlnkQKZXjy4W_k8JOwDte2-im7oMQt625NEj9rRMef6F_H8Hg8EQDycjzTVPcQxkOTFDzfjUmMPsOU&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">
                    Nauman Core I7 16 Gb / 512 Gb / Windows 10 Assembled Desktop Computer
                    
                </h5>
                <p class="card-text">Windows · Intel CPU</p>
                <p>
                    ₹23,000.00
                </p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSBj7mofBKJ65HxS3nRKGxbENbdqpPd3_Cs7eP4twv--dn05tN8boKnX-M8m0EWBKeh1rjZ-SSkE6AgMdxFDboy87yqbGhQk2ul9NSG-T7ZQF_bAueQDsKo&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">
                    Ant Value VM41 ATX Mid-Tower Computer Case Gaming Cabinet
                  
                </h5>
                <p class="card-text">  For Gaming</p>
                <p>
                    ₹2,295.00
                   
                </p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQaVjB2zS5AzCC-jRV7ArSfpoXnYy2gW9WcuzRc3blODr-rJ7uj1t9ihhKngC7vInRA37pw1HzzPbtHK1kF-OOTTk1vpchsvdtCH-4bmP1GpIrn74TnHPDa2A&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">Industrial ice AIO PC 21.5 Inch Desktop Computer Full HD Screen All In One PC</h5>
                <p>Desktop Computer</p>
                <p class="card-text">₹52,662.73 </p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQkbO5gKylMqdNPxCzE6jp6X1GdIH0SIEToj42FR75esNR0xMSE-FZWALHwmlMh_3ZJWCTzctnnlWKPNOfflXAgk0e_Tl2Xajwuwb_rtRl3yVOLLhtZFsKSpw&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">High Performance Desktop Computer</h5>
                <p class="card-text">
                    Desktop

                </p>
                <p class="card-text">
                    ₹90,000.00
                    
                </p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSTcFzuDgTI7pJsEgCLhHyUGUuyp9XBxZKe--g7UQC9HHv39HG4vG61hOV02jCIoQdVH3bJACAu1nvI0UXelXJL9l3zt_pN2iHiIZbxsJpH&usqp=CAE" class="card-img-top" alt="...">
                <h5 class="card-title">
                    WIRED OPTICAL MOUSE
                    
                </h5>
                <p class="card-text">Mouse</p>
                <p class="card-text">Mouse</p>
                <p>
                    ₹120.00
                    
                </p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
              
        
    
    </div>
